#directory {
  background-color: var(--accent);
}

#directory .content {
  max-width: 1280px;
}

#directory .media {
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  max-width: 960px;
  min-width: 300px;
  border: 3px solid var(--light);
  box-shadow: 0 0 15px var(--dark) inset;
  margin: 15px;
}

#directory .media .title {
  font-weight: var(--bold);
  font-size: 35%;
}

#directory .media .date {
  font-weight: var(--reg);
}

#directory .media .summary {
  font-weight: var(--thin);
}

#directory .media .tags {
  margin-top: 5px;
  font-weight: var(--reg);
}

#directory .media .tags span {
  display: inline-block;
  background-color: var(--mid);
  padding: 0 15px;
  margin: 3px 5px;
}

#directory .media:hover {
  border-color: var(--dark);
}

#directory #error {
  display: none;
  text-align: center;
  font-size: 60%;
  font-weight: var(--bold);
  text-shadow: 2px 2px var(--dark);
  color: var(--light);
}

#utility {
  z-index: 50;
  background: var(--mid);
  height: 10%;
  padding: 5px 15px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 52px;
  border-bottom: 2px solid var(--dark);
}

#utility:before {
  font-weight: var(--bold);
  content: "Tags: ";
}

#utility .btn-tag {
  border-radius: 1000px;
  padding: 3px 10px;
  margin: 3px 5px;
  border: 1px solid var(--dark);
  box-shadow: 0 0 3px var(--dark);
  transition: all 0.35s;
}

#utility .btn-tag:hover {
  background: var(--accent);
  cursor: pointer;
}

#utility .btn-tag:active,
#utility .btn-tag.enabled {
  background: var(--dark);
  color: var(--mid);
}