.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.sans-serif {
  font-family: Catamaran, sans-serif;
}

.modal-dialog {
  min-width: 350px;
}
.modal-dialog .modal-header .modal-title {
  font-size: 20px;
}
.modal-dialog .modal-header .close:focus {
  outline: none;
}
.modal-dialog .modal-header .close:hover {
  cursor: pointer;
}
.modal-dialog .modal-body p {
  margin: 0px 15px;
}
.modal-dialog .modal-body p img {
  margin: 10px 20px;
  max-width: 250px;
}
.modal-dialog .modal-footer .btn {
  transition: all 0.2s;
}
.modal-dialog .modal-footer .fa-facebook-f:focus, .modal-dialog .modal-footer .fa-facebook-f:hover {
  color: #3B5998 !important;
}
.modal-dialog .modal-footer .fa-twitter:focus, .modal-dialog .modal-footer .fa-twitter:hover {
  color: #1DA1F2 !important;
}
.modal-dialog .modal-footer .fa-google-plus-g:focus, .modal-dialog .modal-footer .fa-google-plus-g:hover {
  color: #DB4437 !important;
}

.header {
  display: block;
  padding: 5px;
  margin-bottom: 15px;
  height: 4%;
  min-height: 42px;
}
.header label {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  min-width: 160px;
  padding: 6px;
}
.header label span {
  color: #191919;
  margin-left: 7px;
}
.header label input:checked + .switch {
  background: #00C851;
}
.header label input:checked + .switch:before {
  transform: translateX(32px);
}
.header label .switch {
  background: rgba(25, 25, 25, 0.75);
  border: 2px solid black;
  border-radius: 34px;
  display: block;
  height: 26px;
  position: relative;
  transition: all 0.5s;
  width: 60px;
}
.header label .switch:before {
  background: white;
  border-radius: 100%;
  content: '';
  display: block;
  height: 17px;
  left: 3px;
  position: absolute;
  transition: all 0.5s;
  top: 2.5px;
  width: 17px;
}
.header label:hover {
  cursor: pointer;
}

.container-fluid {
  min-height: 89%;
}

.footer {
  background-color: rgba(255, 255, 255, 0.75);
  display: block;
  height: 4%;
  padding: 5px;
}

html,
body {
  height: 100%;
  outline: none;
  font-family: Lora, serif;
  background: transparent;
  transition: all 0.4s;
}

a {
  color: #191919 !important;
}
a:focus {
  text-decoration: underline;
}

.head {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  height: 200px;
  margin: 15px auto;
  max-width: 768px;
  min-width: 320px;
  padding: 10px;
  position: relative;
  text-decoration: none !important;
  transition: all 0.7s;
  width: 90%;
}
.head.location {
  transform: translateY(100%);
}

form {
  background: transparent;
  color: #191919;
  height: 100%;
  text-align: center;
  width: 100%;
}
form .title {
  font-size: 45px;
  height: 40%;
}
form input {
  border: 2px solid #191919;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  transition: all 0.2s;
  width: 60%;
}
form input:focus {
  box-shadow: 0px 0px 5px #191919;
  outline: none;
}
form .rand {
  display: block;
  font-size: 24px;
  font-style: italic;
  height: 70%;
}

.col-md {
  background-color: rgba(25, 25, 25, 0.75);
  border: 1.5px solid transparent;
  border-radius: 7.5px;
  color: white !important;
  margin: 15px;
  min-width: 320px;
  padding: 10px;
  transition: all 0.35s;
}
.col-md .sub {
  font-size: 24px;
  margin: 10px;
}
.col-md:hover, .col-md:focus {
  outline: none;
  border: 1.5px solid white;
  box-shadow: 3px 3px 5px #191919;
  text-decoration: none;
  transform: scale(1.05);
}
