//Colors
$purple: #7252AC;
$orange: #FF6D00;
$dark: #1E1E1E;
$light: #ffffff;
//Default viewport scaling
$max-w: 992px;
$min-w: 320px;

//Page setup
body {
  color: $light;
  background: $dark;
  font-family: "Iceland", "Trebuchet MS";
  text-align: center;
}
//Page container
.container-fluid {
  max-width: $max-w;
  min-width: $min-w;
}

//Styling for page title
.title {
  font-size: 64px;
  margin: 0 auto;
  white-space: nowrap;
  .fa-circle {
    color: red;
    display: relative;
    font-size: 43px;
    span {
      font-family: "Russo One", "Courier";
      letter-spacing: 3px;
    }
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
  }
}
@keyframes blink {
  0% {color: red;}
  50% {color: maroon;}
  100% {color: red;}
}
//Styling for container wrappers
.wrapper {
  background: transparent;
  border: 2px solid $light;
  border-radius: 10px;
  color: $light;
  margin-bottom: 20px;
  min-height: 300px;
  padding: 10px;
  top: 1%;
}
//Styling for menu container
.utility {
  h5 {
    margin: 0 auto;  
  }
  input {
    background: transparent;
    border-radius: 0.25rem;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
    padding-left: 15px;
    width: 100%;
  }
  .btn {
    border-width: 2px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .btn-outline-warning {
    &.active,
    &:hover {
      color: $dark !important;
    }
  }
  #filter-search {
    border: 2px solid $purple;
    color: $light;
    &:hover,
    &:focus {
      background-color: $purple;
      &::placeholder {
        color: $light;
      }
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(100, 65, 164, 0.5);
      outline: none;
    }
    &::placeholder {
      color: $purple;
    }
  }
  #add-streamer {
    border: 2px solid $orange;
    color: $light;
    &:hover,
    &:focus {
      background-color: $orange;
      &::placeholder {
        color: $light;
      }
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 109, 0, 0.5);
      outline: none;
    }
    &::placeholder {
      color: $orange;
    }
  }
}
//Styling for data container
.data {
  //Styling for loading animation
  #hold-loading {
    position: relative;
    min-height: 300px;
    .loading-icon {
      border-radius: 100%;
      display: block;
      height: 150px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      .load-anim {
        animation: spin 2s infinite ease;
        border: 3px solid $light;
        border-radius: 100%;
        border-top: 3px solid $purple;
        height: 50%;
        left: 25%;
        position: absolute;
        top: 20%;
        width: 50%;
      }
    }
    @keyframes spin {
      0% {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
    }
  }
  //Styling for returned cards
  .card {
    color: $purple;
    margin: 10px;
    text-decoration: none;
    transition: all 0.3s;
    .card-header {
      font-weight: bold;
      padding-left: 10px;
      .logo {
        border: 1px solid $purple;
        border-radius: 100%;
        float: left;
        max-height: 40px;
        max-width: 40px;
        padding: 2px;
      }
      .head {
        padding-left: 45px;
        padding-top: 2px;
        span {
          font-size: 20px;
          font-style: italic;
          font-weight: normal;
        }
      }
    }
    &:hover {
      cursor: pointer;
      transform: translateX(5px);
    }
    &:focus {
      outline: none;
    }
  }
}
//Styling for footer and link
.footer {
  color: $light;
  display: block;
  font-size: 20px;
  padding: 10px;
  .fab {
    margin: 0px 3px 0px 6px;
  }
  &:hover,
  &:focus {
    color: $purple;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
}