//Page Default Addition
:root {
  /*Colors*/
  --accent: rgb(77, 204, 176); //#4DCCB0
  --dark: rgb(13,13,13); //#0D0D0D
  --mid: rgb(230,230,230); //#E6E6E6
  --light: rgb(253,253,253); //#FCFCFC
  --thin: 200;
  --reg: 400;
  --bold: 600;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');

@media only screen {
  body {font-size: 75px;}
  nav {
    ul {display: flex;}
    #toggler {display: none;}
    #collapse-nav {min-height: 50px;}
    .nav-link {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    ul {display: block;}
    #toggler {display: inline-block;}
    #collapse-nav {
      min-height: 0px;
      max-height: 0px;
    }
    #collapse-nav a{
      display: block;
    }
  }
}

@media only screen and (max-width: 650px) {
  body {font-size: 65px;}
}

@media only screen and (max-width: 400px) { body {font-size: 55px;} }

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  transition: inherit;
}

.round {border-radius: 0.4rem;}
.light {
  background-color: var(--light);
  color: var(--dark);
}
.dark {
  background-color: var(--dark);
  color: var(--light);
}
.text {
  font-size: 30%;
  text-align: left;
}
.text-small {font-size: 25%;}

.section {
  padding: 60px 20px;
  position: relative;
  min-width: 300px;
  overflow: hidden;
  transition: all 0.35s, font-size 0.0s;
}
.content {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}
.heading {
  font-size: 90%;
  font-weight: var(--bold);
  margin-bottom: 30px;
  text-shadow: 0 0 5px var(--dark);
}
.subheading {
  font-size: 45%;
  font-weight: var(--bold);
  padding: 15px;
  text-decoration: underline;
  text-decoration-color: var(--accent);
}
.emphasis {
  color: var(--accent);
  font-weight: var(--bold);
}
.indent {
  text-indent: 30px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .flex-item {
    flex: 1;
  }
}

@keyframes rainbow {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}

body {
  position: relative;
  height: 100%;
  font-family: 'Titillium Web';
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

nav {
  background-color: var(--dark);
  border-bottom: 2px solid var(--accent);
  color: var(--light);
  font-size: 25%;
  font-weight: var(--bold);
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  &.anim {top: -500px;}
  transition: all 0.5s;
  ul {
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;
  }
  #logo {
    text-align: left;
    flex: 5;
    line-height: 0;
    img {
      height: 40px;
      width: 40px;
      margin: 5px 20px;
    }
  }
  #toggler {
    margin: 5px 20px;
    position: relative;
    float: right;
    height: 40px;
    width: 40px;
    #holder {
      position: absolute;
      height: 100%;
      width: 100%;
      .bar {
        transition: all 0.5s;
        height: 10%;
        width: 80%;
        left: 10%;
        position: absolute;
        background-color: var(--light);
        border-radius: 1000px;
        &#bar-1 {top: 20%;}
        &#bar-2 {top: 45%;}
        &#bar-3 {top: 70%;}
      }
    }
    &.show #holder {
      .bar {background-color: var(--accent);}
      #bar-1 {transform: translateY(250%) rotate(315deg);}
      #bar-2 {opacity: 0;}
      #bar-3 {transform: translateY(-250%) rotate(-315deg);}
    }
    &:hover {cursor: pointer;}
  }
  #collapse-nav {
    transition: all 0s max-height 0.5s;
    overflow: hidden;
    text-align: center;
    a {
      transition: background-color 0.2s;
      .nav-link {transition: color 0.2s;}
      padding: 1px 10px;
      margin: 10px 15px;
      &#hire {
        background-color: var(--accent);
        color: var(--dark);
      }
      &:hover {
        color: var(--accent);
        &#hire {background-color: var(--light);}
      }
    }
  }

}

#head {
  height: 30vh;
  margin-top: 52px;
  text-align: center;
  .content {height: 100%;}
  #page-title {
    font-size: 125%;
    color: var(--accent);
    font-weight: var(--bold);
    animation: rainbow 5s linear forwards infinite;
  }
}

footer {
  padding: 30px;
  text-align: center;
  #links {
    font-size: 25px;
    a {
      border: 2px solid var(--light);
      color: inherit;
      text-decoration: none;
      transition: all 0.35s;
      border-radius: 100%;
      height: 60px;
      width: 60px;
      padding: 15px 0;
      margin: 10px;
      &:hover, &:active, &:focus {
        box-shadow: 0 0 10px var(--accent) inset;
        color: var(--accent);
        border-color: var(--accent);
      }
    }
  }
  #sitemap {
    font-size: 25%;
    padding: 20px;
    a {
      color: var(--accent);
      &:hover, &:focus {color: var(--light);}
    }
  }
  p {padding: 15px;}
}
