#publish {
  background-color: var(--accent);
  form {
    border: 3px solid var(--light);
    text-align: left;
    background-color: var(--mid);
    box-shadow: 0 0 15px var(--dark) inset;
    &:hover,
    &:active,
    &:focus {
      border-color: var(--dark);
    }
    label {
      display: block;
      font-weight: var(--bold);
      padding: 0 10px;
      margin: 10px;
      span {
        line-height: 1;
        font-size: 70%;
        font-weight: var(--reg);
      }
    }
    input,
    textarea {
      display: block;
      margin: 15px;
      padding: 10px;
      font-size: 25%;
      width: calc(100% - 30px);
      font-family: inherit;
      border-radius: inherit;
      box-shadow: 0 0 5px var(--dark) inset;
      border: 0;
      outline: 0;
      transition: height 0s, width 0s;
      &:active,
      &:focus {
        box-shadow: 0 0 15px var(--accent) inset;
      }
    }
    .flex-group {
      padding: 5px 15px;
    }
    button.flex-item {
      background-color: var(--light);
      border-radius: 0.3rem;
      margin: 15px 10px;
      padding: 5px;
      font-size: 30%;
      border: 0;
      box-shadow: 0 0 5px var(--dark);
      font-family: inherit;
      font-weight: var(--bold);
      &:hover {
        cursor: pointer;
      }
      &:active,
      &:focus {
        box-shadow: 0 0 10px var(--dark) inset;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: var(--accent);
        color: var(--light);
      }
    }
  }
}
