.content {
  text-align: center;
}

#home {
  height: 100vh;
  .content {
    max-width: 1200px;
    min-height: 100%;
  }
  #title {
    font-weight: var(--thin);
    text-align: left;
    width: 100%;
    font-size: 80%;
    #name {
      font-size: 125%;
      -webkit-animation: rainbow 5s linear forwards infinite;
              animation: rainbow 5s linear forwards infinite;
    }
    #subtitle {
      font-size: 60%;
      margin-top: 60px;
    }
  }
}

#about {
  #description-group {
    margin: 0 15px;
    text-indent: 20px;
  }
  #self-object {
    background-color: var(--mid);
    padding: 5px;
    margin-bottom: 25px;
    font-size: 75%;
    overflow-x: auto;
    pre {
      margin: 3px 0;
      font-family: monospace;
      span {
        color: var(--accent);
        font-style: italic;
      }
    }
  }
  .subheading {
    margin-top: 50px;
  }
  #img-group {
    text-align: center;
    #and-more {
      &:hover, &:focus, &:active {
        color: var(--accent);
      }
    }
    img {
      height: 115px;
      width: 115px;
      padding: 10px;
      margin: 10px;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      &:hover {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-box-shadow: 0 0 15px var(--dark) inset;
                box-shadow: 0 0 15px var(--dark) inset;
      }
    }
  }
}

#projects {
  height: 100vh;
  .content {
    min-height: 100%;
  }
  .bg {
    position: absolute;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    top: 0;
    background: no-repeat center center fixed;
    -webkit-transition: background-image 3s ease-in-out;
    transition: background-image 3s ease-in-out;
    height: 100%;
    width: 100%;
    margin-left: -20px;
    background-size: cover;
  }
  .heading {
    margin: 0;
    display: block;
  }
  a {
    border: 2px solid var(--light);
    -webkit-box-shadow: 0 0 15px var(--dark) inset;
            box-shadow: 0 0 15px var(--dark) inset;
    padding: 2px 10px;
    font-size: 35%;
    font-weight: var(--bold);
    &:hover, &:focus, &:active {
      background-color: var(--accent);
    }
  }
}

#media {
  background-color: var(--accent);
  .card {
    position: relative;
    text-align: center;
    border: 3px solid transparent;
    margin: 10px;
    padding: 15px;
    -webkit-box-shadow: 0 0 10px var(--dark) inset;
            box-shadow: 0 0 10px var(--dark) inset;
    min-width: 300px;
    p {
      text-align: left;
    }
    a {
      -webkit-box-shadow: inherit;
              box-shadow: inherit;
      padding: 10px 20px;
      //letter-spacing: 1px;
      font-size: 35%;
      text-shadow: none;
      &:hover {
        color: var(--light);
        background-color: var(--accent);
      }
    }
    &:hover {
      border-color: var(--dark);
    }
  }
  .subheading {
    font-size: 30%;
    text-decoration: none;
  }
  #curr-proj .subheading:before {
    content: "Current Project: ";
  }
}

#contact {
  background-color: var(--light);
  .heading {
    margin: 0;
  }
  #visitor-info {
    div {
      text-align: center;
    }
    a {
      font-size: 250%;
      display: inline-block;
      text-decoration: none;
      color: var(--accent);
      margin: 30px;
      &:hover, &:focus, &:active {
        color: var(--dark);
      }
    }
    h3, h4 {
      text-align: center;
    }
    p {
      text-align: left;
    }
  }
  #visitor-form {
    border: 3px solid var(--dark);
    margin: 15px;
    text-align: left;
    background-color: var(--mid);
    -webkit-box-shadow: 0 0 5px var(--dark) inset;
            box-shadow: 0 0 5px var(--dark) inset;
    &:hover, &:active, &:focus {
      border-color: var(--accent);
    }
    label {
      display: block;
      padding: 10px;
      font-weight: var(--bold);
    }
    input, textarea {
      display: block;
      padding: 10px;
      width: 100%;
      font-family: inherit;
      font-size: 20%;
      border-radius: inherit;
      -webkit-box-shadow: 0 0 5px var(--dark) inset;
              box-shadow: 0 0 5px var(--dark) inset;
      border: 0;
      outline: 0;
      -webkit-transition: height 0.0s, width 0.0s;
      transition: height 0.0s, width 0.0s;
    }
    input {
      &:active, &:focus {
        -webkit-box-shadow: 0 0 15px var(--accent) inset;
                box-shadow: 0 0 15px var(--accent) inset;
      }
    }
    textarea {
      &:active, &:focus {
        -webkit-box-shadow: 0 0 15px var(--accent) inset;
                box-shadow: 0 0 15px var(--accent) inset;
      }
    }
    button {
      background-color: var(--light);
      border-radius: 0.3rem;
      margin: 15px 10px;
      padding: 5px;
      font-size: 30%;
      border: 0;
      -webkit-box-shadow: 0 0 5px var(--dark);
              box-shadow: 0 0 5px var(--dark);
      font-family: inherit;
      font-weight: var(--bold);
      &:hover {
        cursor: pointer;
      }
      &:active, &:focus {
        -webkit-box-shadow: 0 0 10px var(--dark) inset;
                box-shadow: 0 0 10px var(--dark) inset;
      }
      &:hover, &:active, &:focus {
        background-color: var(--accent);
        color: var(--light);
      }
    }
    min-width: 300px;
    padding: 30px;
  }
  #visitor-info {
    min-width: 300px;
    padding: 30px;
  }
}
