@media only screen {
  #utility {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (max-width: 800px) {
  #utility {
    position: relative;
  }
}

#archive {
  background-color: var(--accent);
}

#archive .content {
  max-width: 1280px;
}

#archive .blog, #archive .note {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  max-width: 960px;
  min-width: 300px;
  border: 3px solid var(--light);
  -webkit-box-shadow: 0 0 15px var(--dark) inset;
  box-shadow: 0 0 15px var(--dark) inset;
  margin: 15px;
}

#archive .blog .title, #archive .note .title {
  font-weight: var(--bold);
}

#archive .blog:hover, #archive .note:hover {
  border-color: var(--dark);
}

#archive #error {
  display: none;
  text-align: center;
  font-size: 60%;
  font-weight: var(--bold);
  text-shadow: 2px 2px var(--dark);
  color: var(--light);
}

.blog .title {
  font-size: 35%;
}

.blog .date {
  font-weight: var(--reg);
}

.blog .summary {
  font-weight: var(--thin);
}

.blog .tags {
  margin-top: 5px;
  font-weight: var(--reg);
}

.blog .tags span {
  display: inline-block;
  background-color: var(--mid);
  padding: 0 15px;
  margin: 3px 5px;
}

.note .title {
  text-align: center;
}

.note ul {
  font-size: 30%;
  list-style: none;
  max-width: 75%;
  margin: 0 auto;
}

#utility {
  z-index: 50;
  background: var(--mid);
  height: 10%;
  padding: 5px 15px;
  width: 100%;
  top: 52px;
  border-bottom: 2px solid var(--dark);
}

#utility:before {
  font-weight: var(--bold);
  content: "Tags: ";
}

#utility .btn-tag {
  border-radius: 1000px;
  padding: 3px 10px;
  margin: 3px 5px;
  border: 1px solid var(--dark);
  -webkit-box-shadow: 0 0 3px var(--dark);
  box-shadow: 0 0 3px var(--dark);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#utility .btn-tag:hover {
  background: var(--accent);
  cursor: pointer;
}

#utility .btn-tag:active, #utility .btn-tag.enabled {
  background: var(--dark);
  color: var(--mid);
}
