@media only screen {
  #utility {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (max-width: 800px) {
  #utility {
    position: relative
  }
}

#archive {
  background-color: var(--accent);
  .content {max-width: 1280px;}
  .blog, .note {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px 15px;
    max-width: 960px;
    min-width: 300px;
    border: 3px solid var(--light);
    -webkit-box-shadow: 0 0 15px var(--dark) inset;
            box-shadow: 0 0 15px var(--dark) inset;
    margin: 15px;
    .title {
      font-weight: var(--bold);
      font-size: 35%;
    }
    .date {font-weight: var(--reg);}
    .summary {font-weight: var(--thin);}
    .tags {
      margin-top: 5px;
      font-weight: var(--reg);
      span {
        display: inline-block;
        background-color: var(--mid);
        padding: 0 15px;
        margin: 3px 5px;
      }
    }
    &:hover {border-color: var(--dark);}
  }
  #error {
    display: none;
    text-align: center;
    font-size: 60%;
    font-weight: var(--bold);
    text-shadow: 2px 2px var(--dark);
    color: var(--light);
  }
}

#utility {
  z-index: 50;
  background: var(--mid);
  height: 10%;
  padding: 5px 15px;
  width: 100%;
  top: 52px;
  border-bottom: 2px solid var(--dark);
  &:before {
    font-weight: var(--bold);
    content: "Tags: ";
  }
  .btn-tag {
    border-radius: 1000px;
    padding: 3px 10px;
    margin: 3px 5px;
    border: 1px solid var(--dark);
    -webkit-box-shadow: 0 0 3px var(--dark);
            box-shadow: 0 0 3px var(--dark);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    &:hover {
      background: var(--accent);
      cursor: pointer;
    }
    &:active, &.enabled {
      background: var(--dark);
      color: var(--mid);
    }
  }
}
