@media only screen and (max-width: 572px) {
  .hide-on-resize {
    display: none;
  }
}

.resume-area {
  padding: 0;
  background-color: var(--accent);
}

.resume-area .fold-head {
  padding: 30px;
  font-size: 50%;
  font-weight: var(--bold);
  background-color: var(--mid);
  -webkit-text-decoration: underline var(--accent);
  text-decoration: underline var(--accent);
}

.resume-area .fold-head .wrap {
  max-width: 960px;
  margin: 0 auto;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.resume-area .fold-head:hover, .resume-area .fold-head:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px var(--dark) inset;
  box-shadow: 0 0 50px var(--dark) inset;
}

.resume-area .content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s max-height 0.5s;
  transition: all 0.35s max-height 0.5s;
}

.resume-area .close-area {
  border: 2px solid transparent;
  display: block;
  margin: 15px auto;
  background-color: var(--light);
  color: var(--dark);
  -webkit-box-shadow: 0 0 20px var(--dark);
  box-shadow: 0 0 20px var(--dark);
  padding: 5px 20px;
  font-weight: var(--bold);
  position: relative;
  font-family: inherit;
}

.resume-area .close-area:hover, .resume-area .close-area:focus {
  color: var(--light);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid var(--light);
  background-color: transparent;
  cursor: pointer;
}

.resume-area:nth-child(even) .fold-head {
  background-color: var(--light);
}

.resume-area.enabled .fold-head {
  background-color: var(--dark) !important;
  padding: 5px 30px;
  color: var(--light);
}

.resume-area.enabled .fold-head:hover, .resume-area.enabled .fold-head:focus {
  -webkit-box-shadow: 0 0 10px var(--light);
  box-shadow: 0 0 10px var(--light);
}

.resume-area.enabled .content {
  max-height: 5000px;
}

.resume-info {
  padding: 15px;
  -webkit-box-shadow: 0 0 25px var(--dark);
  box-shadow: 0 0 25px var(--dark);
  margin: 15px;
}

.resume-info .flex-item {
  -ms-flex-preferred-size: 275px;
  flex-basis: 275px;
}

.resume-info .small {
  font-size: 70%;
}

.resume-info .subtitle {
  font-size: 170%;
  margin: 40px 0;
  text-align: center;
  line-height: 0;
  border: 1px solid var(--accent);
  letter-spacing: 2px;
}

.resume-info .subtitle a:hover, .resume-info .subtitle a:focus {
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  letter-spacing: 5px;
}

.resume-info .subtitle span {
  padding: 0 10px;
  background-color: var(--light);
}

.resume-item {
  padding: 10px;
}

.resume-item h2, .resume-item .item-location {
  line-height: 1;
  margin-top: 15px;
}

.resume-item a {
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
}

.resume-item a:hover, .resume-item a:focus {
  -webkit-text-decoration-color: var(--accent);
  text-decoration-color: var(--accent);
  letter-spacing: 1px;
}

.resume-item .item-location {
  font-weight: var(--thin);
  margin-bottom: 15px;
}

.resume-item n
.item-date {
  font-style: italic;
}

.resume-item .item-desc {
  margin: 15px 0;
}

.resume-item .item-list {
  margin: 15px;
  line-height: 1.5;
}

.resume-item .item-list li {
  margin: 7.5px 0;
}

.resume-item .item-list li b {
  background-color: var(--accent);
  -webkit-box-shadow: 7.5px 0 var(--accent), -7.5px 0 var(--accent);
  box-shadow: 7.5px 0 var(--accent), -7.5px 0 var(--accent);
  margin-right: 15px;
  position: relative;
  left: 7.5px;
}

#preface .content {
  max-width: 750px;
}

#preface .content p {
  text-align: center;
}

#summary .flex-group .flex-item {
  min-width: 250px;
  margin: 0 10px;
}

#summary ul {
  list-style-position: inside;
}

#summary #prog-qual {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

#summary #soft-qual {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

#intention .major {
  font-style: italic;
  font-weight: var(--bold);
}

#projects .thumbnail-wrapper {
  text-align: center;
}

#projects .thumbnail-wrapper a {
  line-height: 0;
}

#projects .thumbnail-wrapper a:hover, #projects .thumbnail-wrapper a:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#projects img {
  height: 134px;
  width: 208px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
  margin: 10px;
  border: 2px solid var(--dark);
  background-color: var(--accent);
}

#details ul {
  margin-left: 20px;
  list-style-position: outside;
}
